@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bw Gradual";
  src: url("./fonts/BwGradual-Bold.woff") format("woff"),
    url("./fonts/BwGradual-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.gradual {
  font-family: "Bw Gradual";
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2b00ff;
}

hr {
  background-color: #2b00ff;
  height: 1px;
  border: none;
  width: 97%;
}

.fakeHeight {
  height: 3000px;
}

.active {
  border: 1px solid #2b00ff;
  border-radius: 50%;
}
