@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Bw Gradual";
    src: url("./fonts/BwGradual-Bold.woff") format("woff"),
        url("./fonts/BwGradual-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bw Gradual Light";
    src: url("./fonts/BwGradual-Medium.otf") format("opentype");
}
@font-face {
    font-family: "Bw Gradual Black";
    src: url("./fonts/BwGradual-Black.otf") format("opentype");
}

h2 {
    font-family: "Bw Gradual Light";
}

h3 {
    font-size: 2rem;
    letter-spacing: 1.2rem;
}
.gradual {
    font-family: "Bw Gradual";
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
    color: #2b00ff;
}

hr {
    background-color: #2b00ff;
    height: 1px;
    border: none;
}

.active {
    border: 1px solid #2b00ff;
    border-radius: 50%;
}
.embla {
    position: relative;
    background-color: #f7f7f7;
    margin-left: auto;
    margin-right: auto;
}

.embla__viewport {
    overflow: hidden;
    width: 100%;
}

.embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
}

.embla__viewport.is-dragging {
    cursor: grabbing;
}

.embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.embla__slide {
    position: relative;
    flex: 0 0 33%;
}
@media screen and (max-width: 640px) {
    .embla__slide {
        flex: 0 0 100%;
    }
}
@media screen and (min-width: 640px) and (max-width: 1024px) {
    .embla__slide {
        flex: 0 0 50%;
    }
}
.embla__slide__inner {
    position: relative;
    overflow: hidden;
    height: 65vh;
}

.embla__button {
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    touch-action: manipulation;
    z-index: 1;
    border: 0;
    fill: #2b00ff;
    padding: 0;
}

.embla__button:disabled {
    cursor: default;
    opacity: 0.3;
}
.next-project {
    width: 30px;
    height: 30px;
}
.custom-container {
    max-width: 1355px;
}
.detail-text {
    line-height: 20px;
}
.embla__button__svg {
    width: 30px;
    height: 30px;
}

.text-center > span {
    background-color: red;
}

.hoverable-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hoverable-image:hover {
    background-color: #2b00ff;
}

.hoverable-image:hover img {
    opacity: 0.1;
}

.hoverable-image:hover .hoverable-text {
    display: block;
    z-index: 10;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}
.hoverable-text {
    display: none;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.fill-white {
    fill: white !important;
}